---
layout: collection
title: home
entries_layout: list
image: /images/IMG_20170914_100039.jpg
---
<!-- splash -->

{% include page-image.html %}

<!-- Latest Work -->
<body>
<h2 class="taxonomy-title">Latest Work</h2>
	<p>Supporting the fantastical with a nugget of scientific truth, leading readers into a world where anything's possible..</p>
	<div class="entries-{{ page.entries_layout | default: 'list' }}">
	  {%- for entry in site.tags.sample -%}
	    	{% if entry.tags contains "ficsci" %}
                   {% include entry.html %}
		{% endif %}
	  {% endfor %}
	</div>

 
<!-- latest blog -->
<h2 class="taxonomy-title">Latest Blog</h2>
	<p>Engaging all ages with science - shining a light on cutting-edge research and bringing it to within reach, where it should be.</p>
	<div class="entries-{{ page.entries_layout | default: 'list' }}">
	  {% for entry in site.tags.sample %}
	    	{% if entry.tags contains "scicomm" %}
	            {% include entry.html %}
	        {% endif %}
	  {% endfor %}
	</div>
</body>
