---
layout: tag
title: samples
---
<head>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#slider1').bxSlider({
                auto: true,
                pager: true,
                slideWidth: 800,
                captions: true
            });
        });
    </script>
</head>

<body>
<h2>Fictional Science</h2>
<ul class="samples">
<!--	<ul id="slider1">
  <li><img src="/images/1-6GShelmet.png" title="Groundbreaking Science: The Guide to Ki - Superhero Helmet" /></li>
  <li><img src="/images/1-8auraspectra.png" title="Groundbreaking Science: The Guide to Ki - Explaining Aura" /></li>
</ul>-->
	  {% for sample in site.tags.sample %}
	    	{% if sample.tags contains "ficsci" %}
	    	    <li><span> <a href="{{ sample.url }}" title="{{ sample.title }}">{{sample.collection}}: {{ sample.title }}</a></li>
		    <p>{{ sample.excerpt }}</p>
		{% endif %}
	  {% endfor %}
</ul>

<h2>Science Communication</h2>
<ul class="samples">
	  {% for sample in site.tags.sample %}
	    	{% if sample.tags contains "scicomm" %}
	            <li><span> <a href="{{ sample.url }}" title="{{ sample.title }}">{{ sample.collection }}: {{ sample.title }}</a></li>
		    <p>{{ sample.excerpt }}</p>
	        {% endif %}
	  {% endfor %}
</ul>
</body>
