---
layout: collection
title: Portfolio Samples
entries_layout: grid
---

<body>
<h2 class="taxonomy-title">Fictional Science</h2>
	<p>Supporting the fantastical with a nugget of scientific truth, leading readers into a world where anything's possible...</p>
	<img src="https://78.media.tumblr.com/fc399fee2ed8ace42a7ac630687f8237/tumblr_inline_osa4cyEyqV1uaucxv_500.png" class="align-center" alt="">
	<br>
	<div class="entries-{{ page.entries_layout | default: 'list' }}">
	  {%- for entry in site.tags.sample -%}
	    	{% if entry.tags contains "fi-sci" %}
                   {% include entry.html %}
		{% endif %}
	  {% endfor %}
	</div>

<h2 class="taxonomy-title">Science Communication</h2>
	<p>Engaging all ages with science - shining a light on cutting-edge research and bringing it to within reach.</p>
	<div class="entries-{{ page.entries_layout | default: 'list' }}">
	  {% for entry in site.tags.sample %}
	    	{% if entry.tags contains "scicomm" %}
	            {% include entry.html %}
	        {% endif %}
	  {% endfor %}
	</div>
</body>
